<!DOCTYPE HTML>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" {if isset($language_code) && $language_code}
      lang="{$language_code|escape:'html':'UTF-8'}" {/if}><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8 ie7" {if isset($language_code) && $language_code}
      lang="{$language_code|escape:'html':'UTF-8'}" {/if}><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9 ie8" {if isset($language_code) && $language_code}
      lang="{$language_code|escape:'html':'UTF-8'}" {/if}><![endif]-->
<!--[if gt IE 8]>
<html class="no-js ie9" {if isset($language_code) && $language_code} lang="{$language_code|escape:'html':'UTF-8'}"
      {/if}><![endif]-->
<html{if isset($language_code) && $language_code} lang="{$language_code|escape:'html':'UTF-8'}"{/if}>
<head>
    <meta charset="utf-8"/>
    <title>{$meta_title|escape:'html':'UTF-8'}</title>
    {if isset($meta_description) AND $meta_description}
        <meta name="description" content="{$meta_description|escape:'html':'UTF-8'}"/>
    {/if}
    {if isset($meta_keywords) AND $meta_keywords}
        <meta name="keywords" content="{$meta_keywords|escape:'html':'UTF-8'}"/>
    {/if}
    <meta name="generator" content="PrestaShop"/>
    <meta name="robots" content="{if isset($nobots)}no{/if}index,{if isset($nofollow) && $nofollow}no{/if}follow"/>
    <meta name="viewport" content="width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="icon" type="image/vnd.microsoft.icon" href="{$favicon_url}?{$img_update_time}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{$favicon_url}?{$img_update_time}"/>
    <link rel="stylesheet" type="text/css" href="themes/thegioivothuat_theme/css/style2.css" media="print"/>
    {if isset($css_files)}
        {foreach from=$css_files key=css_uri item=media}
            {if $css_uri == 'lteIE9'}
                <!--[if lte IE 9]>
                {foreach from=$css_files[$css_uri] key=css_uriie9 item=mediaie9}
                <link rel="stylesheet" href="{$css_uriie9|escape:'html':'UTF-8'}" type="text/css"
                      media="{$mediaie9|escape:'html':'UTF-8'}"/>
                {/foreach}
                <![endif]-->
            {else}
                <link rel="stylesheet" href="{$css_uri|escape:'html':'UTF-8'}" type="text/css"
                      media="{$media|escape:'html':'UTF-8'}"/>
            {/if}
        {/foreach}
    {/if}
    {if isset($js_defer) && !$js_defer && isset($js_files) && isset($js_def)}
        {$js_def}
        {foreach from=$js_files item=js_uri}
            <script type="text/javascript" src="{$js_uri|escape:'html':'UTF-8'}"></script>
        {/foreach}
    {/if}
    {$HOOK_HEADER}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,latin-ext"
          type="text/css" media="all"/>
    <!--[if IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
{capture name='pageName'}
    {$pageClass = ''}
    {if isset($page_name) && $page_name=='index'}{$pageClass = 'cms-index-index cms-home cms-home-style'}{/if}
{/capture}
<body{if isset($pageClass)} id="{$pageClass|escape:'html':'UTF-8'}"{/if}
        class="{if isset($pageClass)}{$pageClass|escape:'html':'UTF-8'}{/if}">
{if !isset($content_only) || !$content_only}
{if isset($restricted_country_mode) && $restricted_country_mode}
    <div id="restricted-country">
        <p>{l s='You cannot place a new order from your country.'}{if isset($geolocation_country) && $geolocation_country}
                <span class="bold">{$geolocation_country|escape:'html':'UTF-8'}</span>{/if}</p>
    </div>
{/if}
<div class="wrapper">
    <div id="page" class="page">
        <div class="header-container">
            <header id="header" class="header">
                <div class="content-wrap">
                    <a href="{if isset($force_ssl) && $force_ssl}{$base_dir_ssl}{else}{$base_dir}{/if}"
                       title="{$shop_name|escape:'html':'UTF-8'}" class="header-logo">
                        <img class="logo img-responsive" src="{$logo_url}"
                             alt="{$shop_name|escape:'html':'UTF-8'}"{if isset($logo_image_width) && $logo_image_width} width="{$logo_image_width}"{/if}{if isset($logo_image_height) && $logo_image_height} height="{$logo_image_height}"{/if}/>
                        <div class="logo-title">
                            <h2><span class="black">Nam Long</span> <span class="red">Sport</span></h2>
                            <h4><span class="brown">Thế giới võ thuật dành cho bạn</span></h4>
                        </div>
                    </a>

                    <div class="phone-box">
                        <div class="brown phone-title"><span>Liên hệ tư vấn</span></div>
                        <h2>090 2233 315</h2>
                        <h2>091 5936 993</h2>
                    </div>

                    {capture name='displaySearch'}{hook h='displaySearch'}{/capture}
                    {if $smarty.capture.displaySearch}
                        {$smarty.capture.displaySearch}
                    {/if}
                </div>
                <!--/.content-wrap-->
                {capture name='displayNav'}{hook h='displayNav'}{/capture}
                {if $smarty.capture.displayNav}
                    <nav class="nav-primary">
                        {$smarty.capture.displayNav}
                    </nav>
                {/if}
                {if isset($HOOK_TOP)}{$HOOK_TOP}{/if}

            </header>

        </div>
        <div class="columns-container">
            <div id="columns" class="container">
                {if $page_name !='index' && $page_name !='pagenotfound'}
                    {include file="$tpl_dir./breadcrumb.tpl"}
                {/if}
                <div id="slider_row" class="row">
                    {capture name='displayTopColumn'}{hook h='displayTopColumn'}{/capture}
                    {if $smarty.capture.displayTopColumn}
                        <div id="top_column"
                             class="center_column col-xs-12 col-sm-12">{$smarty.capture.displayTopColumn}</div>
                    {/if}
                </div>
                <div class="row">
                    {if isset($left_column_size) && !empty($left_column_size)}
                        <div id="left_column"
                             class="column col-xs-12 col-sm-{$left_column_size|intval}">{$HOOK_LEFT_COLUMN}</div>
                    {/if}
                    {if isset($left_column_size) && isset($right_column_size)}{assign var='cols' value=(12 - $left_column_size - $right_column_size)}{else}{assign var='cols' value=12}{/if}
                    <div id="center_column" class="center_column col-xs-12 col-sm-{$cols|intval}">
                        {/if}
